html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  outline: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h6,
p {
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

label {
  margin-bottom: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Al Nile", sans-serif;
  --fourth-family: "Ai Nile Bold", sans-serif;
  --third-family: "Actor", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --c-primary: #f48c06;
  --c-secondery: #2f327d;
  --c-nav-header: #252641;
  --bg-header: #fff3e4;
  --transition: 0.2s all ease-in-out;
}

html {
  font-size: 1px;
  scroll-behavior: smooth;
}
@media (max-width: 1440px) {
  html {
    font-size: 0.95px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 0.9px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 0.85px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 0.8px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 0.7px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 0.6px;
  }
}

html,
body {
  background: #000;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1467rem;
  width: 100%;
  margin-inline: auto;
  padding: 0 20rem;
}

.button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  padding: 11rem 34rem;
  border-radius: 23rem;
  background: #000;
  z-index: 1;
  border: none;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(219deg, #00f0ff, #5200ff 48.25%, #ff2df7) border-box;
  border: 1rem solid transparent;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24rem;
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
.button:hover {
  background: linear-gradient(#000, #000) padding-box, linear-gradient(219deg, #61ff11, #ff11a0 48.25%, #ff2d2d) border-box;
  border: 1rem solid transparent;
}

.title {
  font-family: var(--second-family);
  color: #fff;
  margin-bottom: 50rem;
}
.title span {
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20rem;
  color: #fff;
}
.text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  min-width: 100%;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  position: absolute;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: black;
  opacity: 1;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 21px;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  bottom: 21px;
}

.custom-swiper-button-prev {
  right: 57%;
}

.custom-swiper-button-next {
  left: 57%;
}

button.slick-prev {
  display: none;
}

button.slick-next {
  display: none;
}

.nav__list,
.search {
  display: none;
}

.nav__list.open,
.search.open {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000000;
}

.nav__list.open {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 10px;
}

.search.open {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  padding: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(33, 33, 33);
  padding: 10px 0;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 160rem;
  cursor: pointer;
}

.dropdown li {
  padding: 10px 20px;
  width: 100%;
}
.dropdown li:hover {
  background-color: #484747;
}

.dropdown li a {
  font-family: var(--third-family);
  font-size: 15rem;
  color: #f8f7f7;
}

.nav-item:hover .icon-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.icon-arrow {
  color: #f8f7f7;
  margin-left: 5px;
  font-size: 18px;
  cursor: pointer;
}

.row {
  overflow: hidden;
  margin-top: 150rem;
  margin-bottom: 160rem;
}

.customers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 56px;
  overflow: hidden;
  max-width: 1300rem;
  width: 100%;
  margin-inline: auto;
}

.slick-slide {
  margin: 0px 20px;
}

.customer-logos {
  overflow: inherit;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20rem 0;
  position: relative;
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo-media {
  display: none;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 100rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav-bar.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24rem;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.nav-item:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  visibility: hidden;
  width: 200px;
  padding: 10px;
}

.nav-item:hover .dropdown {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}

.nav-item > a {
  font-family: var(--third-family);
  font-size: 15rem;
  color: #f8f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-item > a:hover {
  color: #03fbfb;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--third-family);
  gap: 21rem;
}
.search__input {
  font-weight: 400;
  font-size: 15rem;
  color: #c0c3c9;
  position: relative;
}
.search__input input {
  border: 0.24rem solid #a3a3a3;
  border-radius: 5rem;
  padding: 11rem 10rem 11rem 14rem;
  background: #272f43;
  padding-right: 40rem;
  width: 239rem;
  color: #a3a3a3;
  cursor: pointer;
}
.search__input input:focus {
  outline: 1rem solid #18fff3;
}
.search__authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13rem;
}
.search__icon {
  position: absolute;
  right: 11rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}
.search__button {
  font-weight: 400;
  font-size: 15rem;
  cursor: pointer;
  color: #f8f7f7;
  background-color: #000;
  padding: 8rem;
  border: none;
}

.search-second {
  border: 0.6rem solid #9e9c9c;
  border-radius: 7rem;
}

.icon-menu {
  display: none;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 93rem;
  gap: 97rem;
}
.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.welcome__title {
  font-size: 72rem;
  margin-bottom: 50rem;
}
.welcome__text {
  font-size: 25rem;
  max-width: 615px;
}
.welcome__text::after {
  margin-top: 50rem;
  margin-bottom: 50rem;
}
.welcome__image {
  margin-bottom: 50rem;
}

.company__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20rem;
  text-align: center;
  color: #fff;
  margin-top: 82rem;
}

.optimaize {
  margin-top: 116rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 143rem;
}
.optimaize__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 260rem;
}
.optimaize__title {
  font-size: 40rem;
  margin-bottom: 23rem;
  line-height: 60rem;
}
.optimaize__text {
  line-height: 197%;
}
.optimaize__text span {
  font-weight: 700;
  color: #0075ff;
}
.optimaize__text::after {
  margin-top: 23rem;
  margin-bottom: 23rem;
}
.optimaize__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 210rem;
}

.staff {
  margin-bottom: 157rem;
  font-family: var(--second-family);
}
.staff__item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67rem;
  min-height: 513rem;
  border-radius: 20rem;
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
  padding: 108rem 79rem 56rem 113rem;
}
.staff__image {
  position: relative;
  width: 100%;
  max-width: 263rem;
  aspect-ratio: 1/1;
  border-radius: 50rem;
  overflow: hidden;
}
.staff__image img {
  max-height: 257rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50rem;
}
.staff__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 3rem;
  bottom: 0;
  border-radius: 50rem;
  padding: 3rem;
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  max-height: 257rem;
}
.staff__text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20rem;
  line-height: 197%;
  margin-bottom: 32rem;
}
.staff__name {
  font-weight: 700;
  font-size: 25rem;
  color: #fff;
  margin-bottom: 17rem;
}
.staff__position {
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  margin-bottom: 14rem;
}

.reach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20rem;
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
  margin-bottom: 183rem;
  padding: 30px;
}
.reach__info {
  position: relative;
}
.reach__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50rem;
  color: #fff;
  line-height: 60rem;
}
.reach__title span {
  font-weight: 700;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 14rem;
     -moz-column-gap: 14rem;
          column-gap: 14rem;
  margin-top: 45rem;
}
.input-container input {
  font-family: var(--font-family);
  border-radius: 23rem;
  font-size: 19rem;
  padding: 11rem 34rem;
  -webkit-backdrop-filter: blur(40rem);
          backdrop-filter: blur(40rem);
  border: none;
  color: #fff;
  width: 399rem;
  background: rgba(255, 255, 255, 0.2);
  padding-right: 40rem;
}
.input-container input::-webkit-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.input-container input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  display: flex;
  align-items: center;
  -moz-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.input-container input:-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.input-container input::-ms-input-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.input-container input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.input-container input:focus {
  outline: 1rem solid #d8d8d8;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19rem;
  color: #fff;
  position: relative;
  margin-bottom: 75rem;
}
.footer::after {
  content: "";
  width: 100%;
  position: absolute;
  top: -11rem;
  height: 1rem;
  background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .header {
    padding: 30rem;
    background-color: rgb(33, 33, 33);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .logo-media {
    display: block;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30rem;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-left: 50rem;
  }
  .nav-bar.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .logo {
    position: fixed;
    top: 20rem;
    left: 20rem;
    display: none;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 50rem;
  }
  .nav-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .icon-menu {
    color: #fff;
    position: absolute;
    top: 30rem;
    right: 46rem;
    display: block;
    z-index: 1001;
    font-size: 35rem;
  }
  .welcome {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .welcome__info {
    text-align: center;
  }
  .optimaize__up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 40rem;
  }
  .optimaize__info {
    text-align: center;
  }
  .optimaize__down {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40rem;
  }
  .staff__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20rem;
    padding: 50rem 20rem;
    min-height: 613px;
  }
  .staff__about {
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 38rem;
    margin-top: 43rem;
  }
  .staff__text {
    margin-bottom: 53rem;
  }
  .staff__name {
    margin-bottom: 0;
  }
  .staff__position {
    margin-bottom: 0;
  }
  .staff {
    margin-bottom: 50px;
  }
  .custom-swiper-button-prev {
    right: 80%;
  }
  .custom-swiper-button-next {
    left: 80%;
  }
  .reach {
    position: relative;
    min-height: 613px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 115px 50px;
  }
  .reach__image {
    position: absolute;
    top: -90px;
    width: 88%;
  }
  .reach__info {
    margin-top: 150rem;
    text-align: center;
  }
  .reach__title {
    font-size: 49rem;
  }
  .input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40rem;
  }
  .input-container input {
    width: 100%;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30rem;
  }
  .button {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown {
    position: relative;
    top: 0;
    left: -6rem;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 90rem;
    padding: 0;
  }
  .dropdown li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown li:hover {
    background: none;
  }
  .nav-item:hover .dropdown {
    width: 130rem;
  }
  .search__authorization {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 239rem;
  }
  .text::after {
    content: "";
    display: block;
    margin-inline: auto;
    width: 80%;
    height: 1rem;
    background: linear-gradient(219deg, #00f0ff 0%, #5200ff 48.25%, #ff2df7 100%);
  }
}/*# sourceMappingURL=style.css.map */