:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Al Nile", sans-serif;
  --fourth-family: "Ai Nile Bold", sans-serif;
  --third-family: "Actor", sans-serif;

  --white: #ffffff;
  --black: #000000;

  --c-primary: #f48c06;
  --c-secondery: #2f327d;
  --c-nav-header: #252641;
  --bg-header: #fff3e4;

  --transition: 0.2s all ease-in-out;
}

$colorTitle: #2f327d;
$colorDesc: #696984;
$colorBtn: #252641;
$colorActive: green;
$backgroundBtn: #f4c467;
$bgLogo: rgb(101, 218, 255);
$bgMenu: rgba(47, 50, 125, 0.95);
$black: #000000;
