.company {
  
  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20rem;
    text-align: center;
    color: #fff;
    margin-top: 82rem;
  }
  
}
//   &__container {
//     display: flex;
//     flex-direction: column;
//     gap: 54rem;
//     overflow: hidden;
//     white-space: nowrap;
//     position: relative;
//   }

//   &__item {
//     display: flex;
//     align-items: center;

//   }
  
// }

// .company-bank {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 139rem;
// }

// .company-box {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 106rem;
// }

// .company-up {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 112rem;
// }


// .row {
//   display: flex;
//   flex-direction: column;
//   gap: 54rem;
//   margin-top: 150rem;
//   margin-bottom: 166rem;
// }
// .company-container {
//   overflow: hidden;
  
// }
// .company {

// 		&__text {
// 		}
// }
// .slider {
// }
// .slide {
// }
