.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 93rem;
  gap: 97rem;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 72rem;
    margin-bottom: 50rem;

    
  }

  &__text {
    font-size: 25rem;
    max-width: 615px;
  }

  &__image {
    margin-bottom: 50rem;
  }
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 2rem solid #03fbfb;
  white-space: nowrap;
  margin: 0 auto;
  
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 72%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #03fbfb;
  }
}
